/*clases*/
.primero{
    color: white;
    background-color:gray;  
    height: 200px;
}
.subrayar{ text-decoration: underline;}
.negrita{ font-weight: bold;}

/*id*/
#titulo{ 
    font-size: 250%;
    margin-left: 40px;
    line-height: 100px;
}
#imagen{ 
    margin-left: 40px;
    border: gray 3px solid; 
}
#final{  
    height: 100px;
}